*.gem
*.rbc
.bundle
.config
.env
.sublime*
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
public/.DS_Store
public/content
public/offline
public/content
compiled
downloads
#grunt and jasmine artificats
node_modules/
SpecRunner.html
.grunt
*.log
# YARD artifacts
.yardoc
_yardoc
doc/
