<div class="hide">
	<span id="anon-alert-template">
		You saved the map to the public MindMup storage for <strong>6 months</strong>. Use <em>File -&gt Save As</em> to choose a different storage (<a href="http://blog.mindmup.com/p/storage-options.html" target="_blank">more&nbsp;info</a>).
		<span style="margin-left: 50px">(Do&nbsp;not&nbsp;show&nbsp;this&nbsp;again&nbsp;<input type="checkbox" style="margin:0px"/>)</span>
	</span>
</div>
