<div class="hide">
	<span id="anon-alert-template">
		<span data-mm-role="anon-save">
			You saved the map to the <a href="http://blog.mindmup.com/p/storage-options.html" target="_blank">public MindMup storage</a> for <strong>6 months</strong>. If this was a mistake, click here to <a href="#" class="btn btn-danger btn-small" data-mm-role="destroy" style="margin:0px">Delete It</a> in the next 10 minutes.
			<span style="margin-left: 50px">(Do&nbsp;not&nbsp;show&nbsp;this&nbsp;again&nbsp;<input data-mm-role="donotshow" type="checkbox" style="margin:0px"/>)</span>
		</span>
		<span data-mm-role="destroyed">
			The file was removed and the map URL is no longer valid. Please use <em>File-&gt;Save&nbsp;As</em> and save the map to an alternative storage to keep the contents. 
		</span>
		<span data-mm-role="destroyed-problem">
			The map could not be removed due to a network problem or you tried to remove it too late.  <a href="#" class="btn btn-small" data-mm-role="destroy" style="margin:0px">Try again</a>
		</span>
	</span>
</div>
