<span id="anon-alert-template">
	You saved the map to the public MindMup storage for <strong>6 months</strong>. To keep the map for longer or make it private, use <em>File -&gt Save As</em> and choose a different storage (<a href="http://blog.mindmup.com/p/storage-options.html" target="_blank">more info</a>).
	<span style="margin-left: 50px">(<input type="checkbox" style="margin:0px"/> Do not show this again)</span>
</span>
