<span id="anon-alert-template">
	This map is now publicly available for <strong>6 months</strong>. For longer availability transfer the map to an <a href="http://blog.mindmup.com/p/storage-options.html" target="_blank">alternative storage</a>.
	<span>(<input type="checkbox" style="margin:0px"/> Do not show this again)</span>
</span>
