<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup Atlas Terms and Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MindMup Atlas Terms and Conditions" />
    <link rel="shortcut icon" href="<%=settings.static_image_host%>/favicon.ico" >
    <link href="<%=settings.static_host%>/external.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="<%=settings.static_image_host%>/apple-touch-icon.png" />
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body>
<div class="container">



      <div class="row">

<h1>MindMup Atlas</h1>
<i>Document updated 19 January 2015</i>
<div class="well">
        <p>TL;DR version that does not form the legal part of this document</p>
        <ul>
          <li>Don't publish anything illegal or offensive.</li>
          <li>Don't publish copyrighted content that you do not own copyright to.</li>
          <li>Once a map is published, it cannot be directly deleted by users from Atlas, even if the original map is deleted elsewhere.</li>
          <li>Anonymously published maps may be automatically removed after six months.</li>
          <li>Maps published with MindMup Gold may be automatically removed after the subscription ends.</li>
          <li>We may remove published content at any time without notifying you.</li>
        </ul>
</div>
<hr>
        
<h1>MindMup Atlas Terms and Conditions</h1>
        <p>
This document specifies the terms of service (the "Terms") for your use of
MindMup Atlas (the "Services"). The services are provided by Sauf
Pompiers Ltd, 1, Imperial Avenue, Westcliff on sea, Essex. SS0 8NE, United
Kingdom ("We").
</p><p>
By using our Services, you are agreeing to these terms. Please read them carefully.
</p><p>
You may only use the Services only in compliance with these Terms. You may not
use the Services if you are barred under any applicable laws from doing so. If
you are using the Services on behalf of a business, that business accepts these
terms. It will hold harmless and indemnify Sauf Pompiers Limited and its
affiliates, officers, agents, and employees from any claim, suit or action
arising from or related to the use of the Services or violation of these terms,
including any liability or expense arising from claims, losses, damages, suits,
judgments, litigation costs and attorneys’ fees.
</p>
<h2>Using Our Services</h2>
        <p>
The Services allow you to submit mind maps (“Content”) for online publishing using
the MindMup Atlas mind map library. You retain full ownership of the Content.
These Terms do not grant us any rights to the Content or intellectual property
except for the limited rights that are needed to run the Services, as explained
below.
</p><p>
You give us the right to store, archive, copy the Content for the purpose of
hosting your mind maps, publishing or sharing them as directed by you. This
permission also extends to trusted third parties we work with to provide the
Services, in particular Amazon Web Services, which provides our storage space.
</p><p>
We will store the Content using Amazon's S3 Storage system and provide no
additional protection, backups or guarantees for the storage of the Content.
You, and not Sauf Pompiers Limited, are responsible for maintaining and protecting
the Content. We will not be liable for any loss or corruption of the Content,
or for any costs or expenses associated with backing up or restoring any of the
Content.
</p><p>

<a href="http://www.mindmup.com/legal/privacy">MindMup Privacy Policy</a> explains how we treat your personal data and protect your privacy when you use the Services. By using the Services, you agree that We can use such data in accordance with our privacy policies.
</p>

<p>
You may not use the Services to store Content which does not belong to you,
unless you obtain permission from its owner or are otherwise permitted by law.
You may not use the Services to store illegal content under the any applicable
local laws in your jurisdiction or under any applicable laws in United Kingdom.
You are fully responsible and liable for the Content stored using the Services.
</p>
<p>
We may choose to review public content for legal compliance, but you
acknowledge that We have no obligation to monitor any information on the
Services. We are not responsible for the accuracy, completeness,
appropriateness, or legality of the Content, or any other information you may
be able to access using the Services.
</p><p>
We may remove any Content that breaches these Terms without notice.
</p>
<h2>Modifying and Terminating our Services</h2>
<p>
You agree that the Content cannot be revoked or unpublished directly by you.
</p>
<p>You agree that any Content published anonymously, without an associated MindMup Gold license, may be removed six months after the publication date without further notice</p>
<p>
We reserve the right to stop, suspend, or modify the the Services at any time,
without notice. For example, we may suspend or terminate your use if you are
not complying with these Terms, or use the Services in any way that would cause
us legal liability or disrupt others’ use of the Services.
</p>

<h2>Warranties and Disclaimers</h2>
<p>
TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
</p><p>
THE SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL WE BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SERVICE..

</p><p>
TO THE FULLEST EXTENT PERMITTED BY LAW, WE, AND OUR SUPPLIERS AND DISTRIBUTORS,
WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES
OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.
</p><p>
TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF SAUF POMPIERS LIMITED, AND
ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR
ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT
PAID BY YOU TO SAUF POMPIERS FOR THE PAST TWELVE MONTHS OF THE SERVICES IN QUESTION.
</p>
<p>
IN ALL CASES, WE, AND OUR SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.
</p>

<h2>About these Terms</h2>
<p>
THESE TERMS AND THE USE OF THE SERVICES AND SOFTWARE WILL BE GOVERNED BY
ENGLISH LAW. The validity, construction and performance of these Terms shall be
governed by English Law and shall be subject exclusively to the jurisdiction of
the English Courts.
</p><p>
We may revise these Terms from time to time. The most current version of the
Terms will govern our use the Services and will always be at
<a href="https://www.mindmup.com/legal/atlas">www.mindmup.com/legal/atlas</a>.
We will notify you about significant updates to this policy at <a href="http://blog.mindmup.com">blog.mindmup.com</a>.
By continuing to access or use the Services after those changes become effective, you agree to be bound by the
revised Terms.
</p>
</div>
<div class="row">
    Copyright &copy; Sauf Pompiers Limited 2015.
  </div>
</div>


</div>
</body>
</html>
