<div id="floating-collaborators" class="floating well well-small hidden-phone hidden-touch visible-collaboration-toolbar">
      <button class="close pull-right" data-category="Toolbar Click" data-event-type="Expand/Collapse" data-mm-target="body" data-mm-class='collaboration-toolbar' data-mm-role="toggle-class" data-title="Hide toolbar" data-placement='left' rel='tooltip'><i class="toggle icon-remove"></i></button>
      <div class="toolbar-inner">
		<p class="hidden-has-collaborators">There are no collaborators online at the moment.</p>
		<div class="visible-has-collaborators">
			<p>Click on a collaborator to find them</p>
			<div class="collaborator-list-container">
				<table class="table table-striped" data-mm-role="collab-list">
					<tr data-mm-role="template">
						<td data-mm-role="collaborator-info">
							<img data-mm-role="collaborator-photo" class="collab-photo" />
							<span data-mm-role="collaborator-name" class="collab-name" ></span>&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>