<div class="hidden-collaboration-mute-speech">
	<div id="collaboratorSpeechBubble" class="hide">
		<div data-mm-role="template"><div class="speech-bubble-inner"><span data-mm-role="text"></span></div></div>
		<img data-mm-role="collaborator-photo"/>
	</div>
</div>
