<div class="hidden-collaboration-mute-speech">
	<div id="collaboratorSpeechBubble" class="hide">
		<div data-mm-role="popover-content-template"><div class="speech-bubble-inner"><span data-mm-role="popover-content"></span></div></div>
		<div data-mm-role="popover-title-template"><div class="speech-bubble-title"><span data-mm-role="popover-title"></span></div></div>
		<img data-mm-role="collaborator-photo"/>
	</div>
</div>
