<div id="floating-collaborators" class="floating well well-small hidden-phone hidden-touch visible-collaboration-toolbar">
      <button class="close pull-right" data-category="Toolbar Click" data-event-type="Expand/Collapse" data-mm-target="body" data-mm-class='collaboration-toolbar' data-mm-role="toggle-class" data-title="Hide toolbar" data-placement='left' rel='tooltip'><i class="toggle icon-remove"></i></button>
      <div class="toolbar-inner">
		<p class="hidden-has-collaborators">There are no collaborators online at the moment.</p>
		<div class="visible-has-collaborators">
			<p>Click on a collaborator to follow on the screen</p>
			<ul class="nav nav-tabs nav-stacked" data-mm-role="collab-list">
				<li data-mm-role="template">
				<a href="#" data-mm-role="collaborator-info">
					<img data-mm-role="collaborator-photo" class="collab-photo" />
					<span data-mm-role="collaborator-name" ></span>&nbsp;
				</a>
				</li>
			</ul>
		</div>
	</div>
</div>