<html>
  <body>
    <script>
      window.opener.MMDropboxCallBack({dropbox_credentials: JSON.parse(unescape(window.location.hash.slice(1)))});    
      window.close();
    </script>
  </body>
</html>
