<div data-mm-role="share" class="modal hide fade" id="modalEmbedMap">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Embed this map</h3>
	</div>
	<div class="modal-body">
    <p>Copy the HTML code below and paste in your web site. Modify the width and height attributes accordingly. You can place the Script tag
    close to the end of the page to speed up loading. If you want to embed several maps, you only need to include one script tag.</p>
		<textarea readonly>
<a href="<%=settings.base_url%>/map/MAPID" data-role="mindmup-embed" title="TITLE" data-width="90%" data-height="500">TITLE on MindMup</a>
<script async src="<%=settings.base_url%>external-embed.js"></script>
  </textarea>
	</div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
