<div id='modalExtensions' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>Extensions</h3>
  </div>
  <div class='modal-body'>
  <ul data-mm-role="ext-list">
    <li><a data-mm-role="toggle-class" data-mm-target="body" data-mm-class='image-render' href="/">
      <span class="image-render-hidden">Turn on performance tweaks</span><span class="image-render-visible">Turn off performance tweaks</span>
    </a></li>
    <li data-mm-role="template">
      <label class="checkbox">
        <input type="checkbox"> <span data-mm-role="title"></span>
      </label>
    </li>
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
