<div id="flexi-toolbar">
  <div class="section" data-mm-section="main">
    <div class="tool-container"><a data-placement="right" data-title="Add Node" class="tool-button tool-add" data-mm-role="section" data-mm-target-section="add" ></a></div>
    <div class="tool-container"><a data-placement="right" data-title="Edit selected node" class="tool-button tool-edit" data-mm-role="section" data-mm-target-section="edit"></a></div>
    <div class="tool-container"><a data-placement="right" data-title="Undo" class="tool-button tool-undo" data-mm-role="undo"  ></a></div>
    <div class="tool-container"><a data-placement="top" data-title="Transfer to Google Drive" class="tool-button tool-export" data-mm-role="export"></a></div>
    <div class="tool-container"><a data-placement="top" data-title="Help" class="tool-button tool-help" data-mm-role="help"></a></div>
  </div>
  <div class="section" data-mm-section="add">

    <div class="tool-container"><a data-placement="left" data-title="Add a child node" class="tool-button tool-add-child" data-mm-role="add-child"></a></div>
    <div class="tool-container"><a data-mm-requirement="no-root" data-placement="left" data-title="Add a sibling" class="tool-button tool-add-sibling" data-mm-role="add-sibling"></a></div>
    <div class="tool-container"><a data-mm-requirement="no-root" data-placement="left" data-title="Insert a parent node" class="tool-button tool-add-parent" data-mm-role="add-parent"></a></div>
    <div class="tool-container"><a data-placmenet="top" data-title="Add an image" class="tool-button tool-add-photo-node" data-mm-role="add-photo-node"></a></div>
    <div class="tool-container"><a data-placement="top" data-title="Main menu" class="tool-button tool-back" data-mm-role="section" data-mm-target-section="main"></a></div>

  </div>
</div>
