<html>
  <body>
    <script>
      window.opener.postMessage({github_token: '<%=response["access_token"]%>', github_error: '<%=response["error"]%>'}, '*');
      window.close();
    </script>
  </body>
</html>

