<html>
  <body>
      <form method='post'>
        <input type="text" name="aws_key" placeholder="AWS KEY" /><br/>
        <input type="text" name="aws_secret" placeholder="AWS SECRET" /><br/>
        <input type="text" name="account_name" placeholder="ACCOUNT NAME" /><br/>
        <input type="text" name="expiry_days" placeholder="Expiry in days" /><br/>
        <input type="text" name="max_size" placeholder="Max Size in MB" /><br/>
        <input type="submit" />
      </form>
  </body>
</html>
