<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="Hangout Starter">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[     
<html>
<style type="text/css">
      #container {
				background-color: #FFFFFF;
				height: 100%;
				width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin:0;
        padding:0;
			}
</style>
<body>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="<%=settings.static_host%>/embedded_external.js"></script>
<script src="<%=settings.public_url%>/mm-compiled.min.js" ></script>
<link href="<%=settings.public_url%>/mapjs.css" rel="stylesheet" />
<div id="container">
  Please wait, loading MindMup...
</div>
<script>
function showParticipants() {
  var participants = gapi.hangout.getParticipants();

  var retVal = '<p>Participants: </p><ul>';

  for (var index in participants) {
    var participant = participants[index];

    if (!participant.person) {
      retVal += '<li>A participant not running this app</li>';
    }
    retVal += '<li>' + participant.person.displayName + '</li>';
  }

  retVal += '</ul>';

  var div = document.getElementById('participantsDiv');

  div.innerHTML = retVal;
}
function initMindMup() {
  jQuery('#container').empty();
  var isTouch = false, 
      getStorage = function () {
        try {
          window.localStorage.setItem('testkey', 'testval');
          if (window.localStorage.getItem('testkey') === 'testval') {
            return window.localStorage;
          }
        } catch (e) {
        }
        return {
          fake: true,
          getItem: function (key) {
            return this[key];
          },
          setItem: function (key, val) {
            this[key] = val;
          },
          removeItem: function (key) {
            delete this[key];
          }
        };
      },
      browserStorage = getStorage(),
      fakeMapController = observable({}),
			alert = new MM.Alert(),      
			objectStorage = new MM.JsonStorage(browserStorage),      
      activeContentListener = new MM.ActiveContentListener(fakeMapController),
      activeContentResourceManager = new MM.ActiveContentResourceManager(activeContentListener, 'internal'),       
			objectClipboard = new MM.LocalStorageClipboard(objectStorage, 'clipboard', alert, activeContentResourceManager),
			mapModel = new MAPJS.MapModel(MAPJS.DOMRender.layoutCalculator, ['Press Space or double-click to edit'], objectClipboard),
      activityLog = console;
      jQuery('#container').domMapWidget(activityLog, mapModel, isTouch, observable({}), jQuery('#container'), activeContentResourceManager.getResource),
      idea = MAPJS.content(_.clone(MM.Maps.default));
    mapModel.setIdea(idea);
}
function init() {
  // When API is ready...                                                         
  gapi.hangout.onApiReady.add(
      function(eventObj) {
        if (eventObj.isApiReady) {
          initMindMup();
//          document.getElementById('container').innerHTML = 'loaded';
        }
      });
}

// Wait for gadget to load.                                                       
gadgets.util.registerOnLoadHandler(init);
</script>
</body>
]]>
</Content>
</Module>
