<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create a new MindMup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="mind mapping, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Mind map in the cloud. Zero-friction, free online mind mapping. Opensource mindmapping software. The most productive online mind map canvas on the Web. Supports Freemind mindmap import/export." />
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
    <link rel="shortcut icon" href="<%=settings.static_image_host%>/favicon.ico" >
    <link href="<%=settings.static_host%>/external.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="<%=settings.static_image_host%>/apple-touch-icon.png" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);
       _gaq.push(['_trackPageview']);
      
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body>
     <div class="container">
       <div class="well">
         <h2>A new version of MindMup is available</h2>
         <p><a href="https://drive.mindmup.com">MindMup 2.0 For Google Drive</a> is now available, and it significantly improves how Google Apps/Google Drive
         users can collaborate, create and manage maps. (<a href="https://youtube.com/watch?v=--v7ZfTHNJ8&feature=youtu.be">see what's new in 2.0</a>)
         </p>
         <p>You are using an older version now. Would you like to use the new version?  </p>
         <p style="text-align:center">
         <a class="btn btn-large btn-success" href="https://drive.mindmup.com">Switch to 2.0</a>
         <a class="btn btn-large" href="/map/new-g">Continue using 1.0</a></p>
         </p>
       </div>
   </body>
 </html>
