<html>
<head>
<script src="<%=settings.static_host%>/embedded_external.js"></script>
<script src="<%=settings.public_url%>/mm-compiled.min.js" ></script>
<script src="<%=settings.base_url%>e/hangouts-collaboration.js" ></script>
<link href="<%=settings.public_url%>/mapjs.css" rel="stylesheet" />
</head>
<body>
GO...
</body>
</html>
