<div id="modalIconEdit" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Icon Editor</h3>
  </div>
  <div class="modal-body">
	  <p class="small">Click on the dashed area to select an image, or just drag and drop the file into the dashed area</p>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">
          Icon:
        </label>
        <div class="controls">
          <div data-mm-role="drop-zone" class="file-drop-zone">
			  <img data-mm-role="img-preview"/>
		  </div>
		  <input type="file" class name="selectfile"/>
        </div>
      </div>
      <div class="control-group" data-mm-role="attribs">
        <label class="control-label">
          Position:
        </label>
        <div class="controls">
          <select name="position" tabindex="100">
            <option value="top">Above text</option>
            <option value="center">Behind text (centered)</option>
            <option value="bottom">Below text</option>
            <option value="left">Left of text</option>
            <option value="right">Right of text</option>
          </select>
        </div>
      </div>
      <div class="control-group" data-mm-role="attribs">
        <label class="control-label">
          Size:
        </label>
        <div class="controls">
			<input tabindex="101" type="text" style="width:50px" name="width" placeholder="width"/>&nbsp;x&nbsp;<input tabindex="102" type="text" style="width:50px" name="height" placeholder="height"/>
			<input tabindex="103" type="checkbox" name="keepratio" checked="true" /> Keep proportions
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a tabindex="104" href="#" class="btn" data-mm-role="select-file">Select File</a>
    <a tabindex="105" href="#" class="btn btn-primary" data-mm-role="confirm" data-dismiss="modal">Save</a>
    <a tabindex="106" href="#" class="btn btn-danger" data-mm-role="clear" data-dismiss="modal">Remove</a>
    <a tabindex="107" href="#" class="btn" data-mm-role="download">Download</a>
    <a tabindex="107" href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
