<div data-mm-role="ios-link-editor" class="iosContextMenu" style="display:none">
	<div data-mm-role="popover-toolbar" class="iosPopupToolbar">
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer.svg" data-mm-role="popover-pointer-top" class="iosPopupToolbarPointerTop" />
		<div data-mm-role="link-edit-tool-container" class="iosPopupToolContainer ios-default-text">
		</div>
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer_bottom.svg" data-mm-role="popover-pointer-bottom" class="iosPopupToolbarPointerBottom" />
	</div>
</div>