<div class="hide">
	<div data-mm-role="ios-appstore-alert">
		<strong>Work offline using the IOS app</strong><br/>
		<a class="btn btn-small btn-primary" target="_blank" href="http://discover.mindmup.com/mindmup-for-ios">More Info</a>&nbsp;
		<a class="btn btn-small btn-success" target="_blank" href="https://itunes.apple.com/gb/app/mindmup/id922046314">Install</a>&nbsp;
		<button class="btn btn-small btn-danger"  data-mm-role="ios-appstore-alert-hide">Do not show again</button>
	</div>
</div>