<div class="hide">
	<div data-mm-role="ios-appstore-alert">
		<strong>Work offline<span class="hidden-phone-portrait"> and capture ideas with lightning speed</span> using our iOS app</strong>
		<br/>
		<a data-category="iOS Alert" data-event-type="Install" class="btn btn-small btn-success" data-mm-role="ios-appstore-alert-hide" target="_blank" href="https://itunes.apple.com/gb/app/mindmup/id922046314">Install</a>&nbsp;
		<a data-category="iOS Alert" data-event-type="More Info" class="btn btn-small btn-primary" target="_blank" href="http://discover.mindmup.com/mindmup-for-ios">More Info</a>&nbsp;
		<button data-category="iOS Alert" data-event-type="Do not show" class="btn btn-small btn-danger"  data-mm-role="ios-appstore-alert-hide">Do not show again</button>
	</div>
</div>