<div data-mm-role="ios-context-menu" class="iosContextMenu" style="display:none">
	<div data-mm-role="context-menu-toolbar" class="iosPopupToolbar">
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer.svg" data-mm-role="toolbar-pointer-top" class="iosPopupToolbarPointerTop" />
		<div data-mm-role="context-menu-tool-container" class="iosPopupToolContainer ios-default-text">
		</div>
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer_bottom.svg" data-mm-role="toolbar-pointer-bottom" class="iosPopupToolbarPointerBottom" />
	</div>
</div>