<div data-mm-role="ios-color-picker ios-node-background-color-picker ios-modal" class="ios-modal" style="display:none">
	<img class="ios-modal-close" data-mm-role="modal-close" src="<%=settings.static_image_host%>/ios_icon_close.svg"/>
	<div class="ios-modal-title">Select a color</div>
	<div class="ios-modal-content"></div>
</div>