<div data-mm-role="ios-node-picture-config ios-modal" class="ios-modal" style="display:none">
	<img class="ios-modal-close" data-mm-role="dismiss-modal" src="<%=settings.static_image_host%>/ios_icon_close.svg"/>
	<div class="ios-modal-title">Tap the dashed area to select an image</div>
	<div class="ios-modal-content" data-mm-role="ios-modal-content">
       <div class="control-group">
        <div class="controls">
          <div data-mm-role="drop-zone" class="file-drop-zone">
            <img data-mm-role="img-preview"/>
          </div>
          <input type="file" class name="selectfile"/>
        </div>
      </div>
      <div class="ios-image-controls ios-default-text" data-mm-role="attribs">
        <span class="controls">
          <select name="position">
            <option value="top">Above text</option>
            <option value="center">Behind text</option>
            <option value="bottom">Below text</option>
            <option value="left">Left of text</option>
            <option value="right">Right of text</option>
          </select>
        </span>
        <div class="controls">
          <input type="text" style="width:50px" name="width" placeholder="width"/>&nbsp;x&nbsp;<input type="text" style="width:50px" name="height" placeholder="height"/>
          <input type="checkbox" name="keepratio" checked="true" /> Keep proportions
        </div>
      </div>
      <div class="modal-footer ios-default-text">
        <a href="#" class="ios-toolbar-item" data-mm-role="confirm dismiss-modal">
            <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_confirm.svg">
            <div class="ios-icon-label">Save</div>
        </a>
        <a href="#" class="ios-toolbar-item" data-mm-role="clear dismiss-modal">
            <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_remove.svg">
            <div class="ios-icon-label">Remove</div>
        </a>
        <a href="#" class="ios-toolbar-item" data-mm-role="dismiss-modal">
            <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_close.svg">
            <div class="ios-icon-label">Cancel</div>
        </a>
      </div>

	</div>
</div>