<div id='modalKeyActions' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'><i class="icon-remove"></i></button>
    <h3>
      <i class="logo">&nbsp;</i>
      &nbsp;MindMup
      <small class="hidden-phone">Zero-friction free online mind mapping</small>
    </h3>
  </div>
  <div class='modal-body'>
    <div class="carousel slide" data-interval="false" id="topbox">
      <div class="carousel-inner">
        <div class="active item">
          <button data-target="#topbox" data-slide-to="1" class="btn btn-xlarge slide-control"><i class="icon-lightbulb icon-large"></i>&nbsp;Create a new map</button>
          <button data-target="#topbox" data-slide-to="2" class="btn btn-xlarge"><i class="icon-cloud-upload icon-large"></i>&nbsp;Open a map</button>
          <button data-target="#topbox" data-slide-to="3" class="btn btn-xlarge"><i class="icon-book icon-large"></i>&nbsp;Learn how to...</button>
          <button data-target="#topbox" data-slide-to="4" class="btn btn-xlarge"><i class="icon-envelope icon-large"></i>&nbsp;Get in touch</button>
        </div>
        <div class="item">
          <h1><i class="icon-lightbulb icon-large"></i>&nbsp;Create a new map</h1>
          <ul data-mm-role="new-sources" class="nav nav-tabs nav-stacked">
            <li><a data-mm-role="dismiss-modal new-map" data-category="Start Menu" data-event-type="Create - s3" href="#"       data-mm-map-source="a"><span class="repo repo-a"></span>Public online map to share with the world</a></li>
            <li><a data-mm-role="dismiss-modal new-map" data-category="Start Menu" data-event-type="Create - google"  href="#"  data-mm-map-source="g"><span class="repo repo-g"></span>Private map on Google Drive (you control sharing)</a></li>
            <li><a data-mm-role="dismiss-modal new-map" data-category="Start Menu" data-event-type="Create - gold" href="#"     data-mm-map-source="p"><span class="repo repo-p"></span>Private map on MindMup Gold (requires subscription)</a></li>
            <li><a class="slide-control" data-slide-to="0" data-target="#topbox"><span class="icon-arrow-left"></span>Main menu</a></li>
          </ul>
          <a data-category="Start Menu" data-event-type="Describe - storage" target="_blank" href="http://blog.mindmup.com/p/storage-options.html" class="pull-right">More information about storage options</a>
        </div>

        <div class="item">
          <h1><i class="icon-cloud-upload icon-large"></i>&nbsp;Open a map</h1>
          <ul data-mm-role="open-sources" class="nav nav-tabs nav-stacked">
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Import" data-target="#modalImport" data-toggle="modal"><span class="icon-upload"></span>Import a Freemind or MindMup file</a></li>
            <li><a data-mm-role="dismiss-modal google-drive-open" data-category="Start Menu" data-event-type="Open from Google"><span class="repo repo-g"></span>&nbsp;Open a Freemind or MindMup file from Google Drive</a>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Open from Mindmup Gold Storage" data-target="#modalGoldStorageOpen" data-toggle="modal"><span class="repo repo-b"></span>&nbsp;Open from Mindmup Gold Storage</a></li>
            <li><a class="slide-control" data-slide-to="0" data-target="#topbox"><span class="icon-arrow-left"></span>Main menu</a></li>
          </ul>
        </div>


        <div class="item">
          <h1><i class="icon-book icon-large"></i>&nbsp;Learn how to...</h1>
          <ul class="nav nav-tabs nav-stacked">
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Learn - mouse" target="_blank" href="http://discover.mindmup.com/mouse-touch-operations"><span class="icon-hand-up"></span>Edit the map using touch or a mouse</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Learn - keyboard" target="_blank" href="http://discover.mindmup.com/keyboard-shortcuts"><span class="icon-keyboard"></span>Be more productive with keyboard shortcuts</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Learn - realtime" target="_blank" href="http://blog.mindmup.com/p/realtime-collaboration.html"><span class="icon-group"></span>Collaborate in real time with your colleagues</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Learn - screen-max" target="_blank" href="http://blog.mindmup.com/2013/03/go-full-screen-remove-all-distractions.html"><span class="icon-laptop"></span>Get the most out of your screen</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Learn - gold" target="_blank" href="http://discover.mindmup.com/mindmup-gold"><span class="repo repo-b"></span>Get more space and share larger maps on MindMup</a></li>
            <li><a class="slide-control" data-slide-to="0" data-target="#topbox"><span class="icon-arrow-left"></span>Main menu</a></li>
          </ul>
        </div>

        <div class="item">
          <h1><i class="icon-envelope icon-large"></i>&nbsp;Get in touch</h1>
          <ul class="nav nav-tabs nav-stacked">
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - email" href="mailto:contact@mindmup.com"><span class="icon-envelope"></span>E-mail</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - blog" target="_blank" href="http://blog.mindmup.com"><span class="icon-rss"></span>Blog/News</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - vote" target="_blank" href="http://mindmup.uservoice.com"><span class="icon-bullhorn"></span>Vote on features</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - facebook" target="_blank" href="http://facebook.com/mindmupapp"><span class="icon-facebook"></span>Get news through Facebook</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - google+"  target="_blank" href="https://plus.google.com/u/0/communities/112831595986131146219"><span class="icon-google-plus"></span>Join the MindMup Google+ community</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - twitter"  target="_blank" href="https://twitter.com/intent/user?screen_name=mindmup"><span class="icon-twitter"></span>Follow @mindmup on Twitter</a></li>
            <li><a data-mm-role="dismiss-modal" data-category="Start Menu" data-event-type="Get in touch - github"  target="_blank" href="http://github.com/mindmup"><span class="icon-github"></span>Source code on Github</a></li>
            <li><a class="slide-control" data-slide-to="0" data-target="#topbox"><span class="icon-arrow-left"></span>Main menu</a></li>
          </ul>
        </div>
        <div class="item">
  <h1>MindMup - free online mind mapping software</h1>

          <p>Make a mind map online, free, and keep it in the cloud with Google Drive, Dropbox, GitHub and our free anonynous storage. MindMup is a free online mind mapping application running opensource mind mapping software. MindMup is a zero friction mind map maker, helping you focus on your work and removing all the distractions while mindmapping. It is a highly productive mindmap creator, a great free alternative to XMind and MindMeister, with powerful keyboard shortcuts and allowing advanced users to get the most out of their screen real-estate with configurable toolbars. MindMup is available everywhere: you can access your maps with a browser or a mobile device, and cloud storage ensures you have access to your data where ever you are, and the application works nicely with both desktop, tablet and mobile browsers. Freemind mind map import/export is available.</p>
          <p>If you are looking to create a mind-map online, MindMup is the app I would recommend the most. MindMup is the sort of app everyone dreams of finding online. It’s open-source, free and integrated with all the best tools. It’s also designed by people who use the app, so it’s efficient and effective. And unlike so much free software, it looks great too." - MakeUseOf <a href="http://www.makeuseof.com/tag/try-mindmup-mind-mapping-via-google-drive/" rel="nofollow">MakeUseOf</a></p>

  <p>MindMup is super-simple, lightweight, and generally a joy to use. - <a href="http://www.pcworld.com/article/2032818/review-mindmup-is-a-free-effortless-way-to-create-mind-maps-in-moments.html" rel="nofollow">PC World</a></p>

  <p>What I like about Mindmup is that it is clean and simple. As they describe, it allows for frictionless capture of ideas and projects. It is not bloated with unneeded features. The UI stays out of your way and lets you get your ideas out. - <a rel="nofollow" href="http://timemanagementninja.com/links/app-of-the-week-mindmup/">Time Management Ninja</a></p>

  <p>If you like to plan and brainstorm by creating mind maps to link together ideas, MindMup is a great browser-based program that helps you get organized with lots of features. - <a rel="nofollow" href="http://lifehacker.com/mindmup-maps-your-brain-in-the-browser-614853279">LifeHacker</a></p>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
