<div id='modalKeyActions' class='modal hide fade'>
  <div class='modal-header'>
    <h3>
      <i class="logo">&nbsp;</i>
      &nbsp;MindMup: Zero-friction mind mapping</h3>
  </div>
  <div class='modal-body'>
    <div class="carousel slide" data-interval="false" id="topbox">
      <div class="carousel-inner">
        <div class="active item">
        <button data-target="#topbox" data-slide-to="1" class="btn btn-xlarge slide-control"><i class="icon-lightbulb icon-large"></i>&nbsp;Create a new map</button>
        <button class="btn btn-xlarge"><i class="icon-cloud-upload icon-large"></i>&nbsp;Open a map</button>
        <button class="btn btn-xlarge"><i class="icon-book icon-large"></i>&nbsp;Lean how to...</button>
        <button class="btn btn-xlarge"><i class="icon-envelope icon-large"></i>&nbsp;Get in touch</button>
        </div>
        <div class="item">
          <h1><i class="icon-lightbulb icon-large"></i>&nbsp;Create a new map</h1>
          <ul class="nav nav-tabs nav-stacked">
            <li><a href="#m:new">Public online map to share with the world</a></li>
            <li><a href="#m:new">Private map on Google Drive (you control sharing)</a></li>
            <li><a href="#m:new">Private, offline map in your browser</a></li>
            <li><a class="icon-arrow-left slide-control" data-slide-to="0" href="#" data-target="#topbox">&nbsp;Main menu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
