 <div id="linkEditWidget">
      <div class="btn-group">
      <button class="btn " rel="tooltip">
        <input data-mm-target-property='background' class='updateStyle color hide' type="hidden" value="" />&nbsp;
      </button>
      <button type="button" class="btn arrow" data-toggle="button">
        <i class="icon-arrow-right"></i>
      </button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="toggle icon-resize-horizontal"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu lineStyle">
        <li value="solid"><a>solid</a></li>
        <li value="dashed"><a>dashed</a></li>
      </ul>
      </div>
      <button type="button" class="btn btn-danger delete"><i class="icon-remove"></i></button>
    </div>
