<div class="measures-sheet content-container" id="measuresSheet" data-mm-role="optional-content" data-mm-activation-role="activatedNodesMeasureSheet" data-mm-activation-key="M">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <form class="navbar-form input-append pull-left">
                        <input type="text" data-mm-role="measure-to-add" class="span2" placeholder="Measurement name" tabindex="2"/>
                        <button type="submit" class="btn"><i class="icon-plus-sign"></i><span class="hidden-narrow-screen">&nbsp;Add&nbsp;Measure</span></button>
                    </form>
                </li>
                <li class="divider-vertical hidden-phone hidden-tablet-landscape"></li>
            </ul>
            <ul class="nav pull-right">

                <li class="dropdown" class="hidden-touch">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                   <i class="icon-download-alt"></i><span class="hidden-narrow-screen">&nbsp;Export&nbsp;</span><b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a href="#" tabindex="4" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="measures" data-mm-extension="txt" data-category="Measurements" data-event-type="Export measures for selected nodes">Selected Nodes</a></li>
                    <li><a href="#" tabindex="4" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="measures-all" data-mm-extension="txt" data-category="Measurements" data-event-type="Export measures for entire map">Entire map</a></li>
                 </ul>
                </li>

                <li class="dropdown" data-mm-layout="dom" data-mm-role="measures-display-control" >
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                   <i class="icon-tags"></i><span class="hidden-narrow-screen">&nbsp;Label&nbsp;Map&nbsp;</span><b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a data-category="Measurements" data-event-type="Hide Labels" data-mm-role="hide-measure" ><i class="icon-eye-close"></i>&nbsp;Hide</a></li>
                    <li class="divider" data-mm-role="hide-measure"></li>
                    <li data-mm-role="measurement-activation-template"><a data-category="Measurements" data-event-type="Show Labels On Map" data-mm-role="show-measure"><span class="show-active"><i class="icon-check"></i>&nbsp;</span><span data-mm-role="measure-name"></span></a></li>
                 </ul>
                </li>


                <li class="dropdown" data-mm-layout="kinetic" >
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                   <i class="icon-tags"></i><span class="hidden-narrow-screen">&nbsp;Label&nbsp;Map&nbsp;</span><b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a data-toggle="modal" data-target="#modalExtensions" href="#" data-title="Extensions" data-category="Measurements" data-event-type="Extensions">Turn off the old layout to use this function</a></li>
                 </ul>
                </li>


                <li class="hidden-phone">
                <a href="http://blog.mindmup.com/p/measures.html" target="_blank"><i class="icon-info-sign" data-category="Measurements" data-event-type="Help"></i><span class="hidden-narrow-screen">&nbsp;Help</span></a>
                </li>
                <li class="hidden-phone">
                <a href="#" data-mm-role="activatedNodesMeasureSheet"><i class="icon-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content table-container">
        <table data-mm-role="measurements-table" class="table table-striped hide">
            <thead>
                <tr>
                    <th>Name</th>
                    <th data-mm-role="measurement-template">
                        <div class="btn-group">
                            <a class="btn btn-link black dropdown-toggle" data-toggle="dropdown" href="#"  data-category="Measurements" data-event-type="Add Measure">
								<span class="show-active"><i class="icon-tags"></i>&nbsp;</span>
                                <span data-mm-role="measurement-name"></span>
                                <span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a data-mm-role="remove-measure" data-category="Measurements" data-event-type="Remove Measure">Remove measure</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-mm-role="idea-template">
                    <th data-mm-role="idea-title" data-mm-truncate="110"></th>
                    <td  tabindex="1" data-mm-role="value-template"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>TOTAL</th>
                    <th data-mm-role="summary-template"></th>
                </tr>
            </tfoot>
        </table>
		<div data-mm-role="no-measures" class="pull-middle hide">
			<div>
				<div class="alert alert-info alert-block">
					<h4>Add some measures</h4>
					<p>At the moment, your map has no associated measures. Start by adding some measures by using the <strong>Add Measure</strong> field in the upper left corner of this window. You will then be able to assign measurement values to your map nodes. For more information on how to use this feature, see our <a href="http://blog.mindmup.com/p/measures.html" target="_blank">Measures documentation page</a>.</p>
				</div>
			</div>
		</div>
		
    </div>
    <textarea data-mm-role="measures-editor" class="measures-editor"></textarea>

</div>
