<div class="measures-sheet" id="modalMeasuresSheet">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <form class="navbar-form input-append pull-left">
                        <input type="text" data-mm-role="measure-to-add" class="span2" placeholder="Measurement name" tabindex="2"/>
                        <button type="submit" class="btn"><i class="icon-plus-sign"></i><span class="hidden-phone">&nbsp;Add&nbsp;Measure</span></button>
                    </form>
                </li>
                <li class="divider-vertical hidden-phone hidden-tablet-landscape"></li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical hidden-phone hidden-tablet-landscape"></li>
                <li class="hidden-phone hidden-tablet-landscape">
                    <a href="#" tabindex="4" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="measures" data-mm-extension="txt"><i class="icon-download-alt"></i>&nbsp;Download</a>
                </li>
                <li class="divider-vertical hidden-phone hidden-tablet-landscape"></li>
                <li class="hidden-phone">
                    <a href="http://blog.mindmup.com/p/measures.html" target="_blank"><i class="icon-info-sign"></i>&nbsp;Help</a>
                </li>
                <li class="divider-vertical hidden-phone hidden-tablet-landscape"></li>
                <li class="hidden-phone">
                <a href="#" data-mm-role="activatedNodesMeasureSheet"><i class="icon-remove"></i>&nbsp;Close</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table data-mm-role="measurements-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th data-mm-role="measurement-template">
                        <div class="btn-group">
                            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#" >
                                <span data-mm-role="measurement-name"></span>
                                <span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a data-mm-role="remove-measure">Remove measure</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-mm-role="idea-template">
                    <th data-mm-role="idea-title" data-mm-truncate="110"></th>
                    <td  tabindex="1" data-mm-role="value-template"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>TOTAL</th>
                    <th data-mm-role="summary-template"></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <textarea data-mm-role="measures-editor" class="measures-editor"></textarea>
    <div data-mm-role="no-measures" class="pull-middle" style="height:100%;display:table">
        <div style="display:table-cell; vertical-align:middle; padding-left:20%; padding-right:20%;">
            <div class="alert alert-info alert-block">
                <h4>Add some measures</h4>
                <p>At the moment, your map has no associated measures. Start by adding some measures by using the <strong>Add Measure</strong> field in the upper right corner of this window. You will then be able to assign measurement values to your map nodes. For more information on how to use this feature, see our <a href="http://blog.mindmup.com/p/measures.html" target="_blank">Measures documentation page</a>.</p>
            </div>
        </div>
    </div>
</div>
