  <div class="modal hide fade" id='modalGoldLicense'>
    <div class="modal-header">
		<button data-event-type="x" data-category="Gold Click" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><span data-mm-section="no-license license-required">Welcome to </span>MindMup Gold</h3>
    </div>
    <div class="modal-body">

		<div data-mm-section="license-required">
			<p class="alert alert-block alert-warning">This operation requires a valid MindMup Gold License.</p>
		</div>
		<div data-mm-section="license-details">
			<p>Enter license below:</p>
			<textarea data-mm-role="license-text"></textarea>

		</div>
		<div data-mm-section="no-license license-required">

			<p><i>Export, save and embed larger maps using MindMup Gold. </i></p>

			<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="gold-account-identifer">Log in or sign up:</label>
				<div class="controls">
					<input type="text" data-mm-role="account-identifier" id="gold-account-identifier" placeholder="Account name or e-mail"/>
				</div>
			</div>
			</form>
		</div>
		<div data-mm-section="code-sent">
			<p>We have sent a temporary access code to your e-mail. Please paste the code in the box below to log in</p>
			<div class="control-group">

				<div class="controls">
					<input type="text" data-mm-role="account-identifier" placeholder="Access code" id="gold-access code"/>
				</div>
			</div>
		</div>
		<div data-mm-section="sending-code">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, sending the access code to your e-mail</p>
		</div>
		<div data-mm-section="sending-code-failed">
			  <p class="alert alert-block alert-error">We could not find that email or username.</p>

			  <p> If you are a new user select <strong>I want to sign up</strong>, or go <strong>Back</strong> to provide a different email. If you think this is an error, please email us at <a target="_blank" href="mailto:contact@mindmup.com?subject=Gold%20Login">contact@mindmup.com</a></p>
		</div>
		<div data-mm-section="no-license3">
			<button class="btn button-success">Sign up for Mindmup Gold</button>
			<p>..or log into Mindmup gold:</p>
			<div class="control-group">
				<label class="control-label" for="gold-view-account-identifer">Account name or Email</label>
				<div class="controls">
					<input type="text" data-mm-role="account-identifier" readonly="true" id="gold-view-account-identifier"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="gold-code">Security Code</label>
				<div class="controls">
					<input type="text" data-mm-role="sec-code" readonly="true" id="sec-dode"/>
					<button class="btn">Send me a code</button>
				</div>
			</div>

		</div>
		<p data-mm-section="no-license1">

		</p>
		<div data-mm-section="no-license license-required">

		</div>

		<div data-mm-section="unauthorised-license">
		  <p class="alert alert-block alert-error">This operation is not authorised under your current MindMup Gold License. The license might
		  have expired, or the file you are trying to access might have been saved using a different license.</p>

		<p>Click on <strong>Change License</strong> to change the active license in this browser or <strong>Renew</strong> to extend the current license. </p>
		<form class="form-horizontal">
		  <div class="control-group">
			<label class="control-label" for="gold-view-account-name">Account name</label>
			<div class="controls">
			  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
			</div>
		  </div>
		 </form>
		<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>


		</div>
		<div data-mm-section="invalid-license">
			<p class="alert alert-error alert-block">This license is invalid or expired</p>
			<p>Click on <strong>Log In</strong> to change the active license in this browser. </p>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="license-server-unavailable">
			<p>This license server is unavailable at the moment. Please try again later. If the problem persists, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="license-purchase-required">
			<p class="alert alert-error alert-block">A subscription has not been purchased for this license</p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label" for="gold-view-account-name">Account name</label>
				<div class="controls">
				  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
				</div>
			  </div>
			 </form>
			<p class="hidden-phone">Click on <strong>Log Out</strong> to remove this license from your browser or <strong>Purchase Subscription</strong> to proceed to our secure payment page. </p>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>

		<div data-mm-section="expired-license">
			<p class="alert alert-error alert-block">This license has expired</p>
			<p>Click on <strong>Change License</strong> to change the active license in this browser or <strong>Renew</strong> to extend the current license. </p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label" for="gold-view-account-name">Account name</label>
				<div class="controls">
				  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
				</div>
			  </div>
			 </form>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="cancelling-subscription">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, we are cancelling your subscription</p>
		</div>
		<div data-mm-section="cancelled-subscription">
			<p>You have cancelled automatic renewal for your subscription as <strong><span data-mm-role="account-name"></span></strong> </p>
			<p>Your current subscription will expire on <strong><span data-mm-role="expiry-date"></span></strong><span data-mm-role="subscription-expiry"></span></p>
		</div>
		<div data-mm-section="view-license">
			<p>You are currently subscribed  as <strong><span data-mm-role="account-name"></span></strong> with a <strong><span data-mm-role="subscription-name"></span></strong> billing cycle.</p>
			<p>Your next  payment of <strong><span data-mm-role="renewal-price"></span></strong> will be automatically taken on <strong><span data-mm-role="expiry-date"></span></strong></p>
		</div>
		<div data-mm-section="payment-complete">
			<p>Thank you for your payment. You are now ready to start using MindMup Gold as <strong><span data-mm-role="account-name"></span></strong> with a <strong><span data-mm-role="subscription-name"></span></strong> billing cycle.</p>
			<p>Your next  payment of <strong><span data-mm-role="renewal-price"></span></strong> will be automatically taken on <strong><span data-mm-role="expiry-date"></span></strong></p>
		</div>
		<div data-mm-section="loading-subscription">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, we are loading the subscription information for <strong><span data-mm-role="account-name"></span></strong></p>
		</div>
		<div data-mm-section="register">
			<p><span class="hidden-phone">Please enter your desired account name. It
      <span class="hidden-phone"> will be shown in the URL of your maps, and</span> must be 4-20 characters, start with a letter and
      contain only lowercase (latin) letters and numbers.</span></p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label hidden-phone" for="gold-register-account-name">Account name</label>
				<div class="controls">
				  <input type="text" id="gold-register-account-name" placeholder="Account name" name="account-name"/>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label hidden-phone" for="gold-register-email">E-mail</label>
				<div class="controls">
				  <input type="text" id="gold-register-email" placeholder="youremail@server.com" name="email"/>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="gold-register-terms" name="terms"/>
						I agree to the <a  data-category="Gold Click" data-event-type="agree gold terms" href="http://gold.mindmup.com/terms" target="_blank">MindMup Gold Terms of Service</a>.
					</label>
				</div>
			  </div>
			</form>
			<p class="hidden-phone">MindMup Gold currently costs $25 USD  yearly or $2.99 USD monthly per gigabyte of storage, and we accept all major credit cards. </p>
		</div>

		<div data-mm-section="registration-fail">
			<div class="alert alert-error alert-block">
				<h4>There was a problem with the registration</h4>
				<p data-mm-role="email-exists">The e-mail is already registered. Please use a different e-mail or
				contact us at
				<a target="_blank" href="mailto:contact@mindmup.com?subject=Gold%20Renewal">contact@mindmup.com</a> to renew the license for that e-mail.</p>
				<p data-mm-role="user-exists">This account is already registered. Please choose a different account name.</p>
				<p data-mm-role="invalid-args">The server is currently too busy, please try again later.</p>
				<p data-mm-role="server-error">We could not send the registration e-mail.  Please check if the e-mail is correct, and if so contact us at <a target="_blank" href="mailto:contact@mindmup.com?subject=Gold%20Registration">contact@mindmup.com</a>.</p>
				<p data-mm-role="network-error">The server is currently too busy, please try again later.</p>
			</div>
		</div>
		<div data-mm-section="registration-progress">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, processing your registration</p>
		</div>
		<div data-mm-section="registration-success">
			<h4>You have successfully registered for MindMup Gold</h4>
			<ul>
			</ul>
			<dl class="dl-horizontal hidden-phone">
			  <dt>E-mail:</dt>
			  <dd data-mm-role="license-email"></dd>
			  <dt>Capacity:</dt>
			  <dd data-mm-role="license-capacity"></dd>
			</dl>
			<p>Please click on <strong>Proceed to payment</strong> and select a subscription using our secure payment page.</p>
		</div>
	</div>
    <div class="modal-footer">
	  <a target="_blank" href="http://blog.mindmup.com/p/mindmup-gold.html" data-category="Gold Click" data-event-type="More Info" data-mm-section="no-license license-required" class="btn pull-left" tabstop="1"><i class="icon-question-sign"></i>&nbsp;More Info</a>
      <button data-category="Gold Click" data-event-type="Remove License" data-mm-role="remove" data-mm-section="view-license loading-subscription  cancelled-subscription license-details  expired-license invalid-license license-purchase-required" class="btn pull-left" tabstop="8">Log Out</button>
      <button data-category="Gold Click" data-event-type="Cancel Subscription" data-mm-section="view-license" class="btn pull-left" tabstop="4" data-mm-role="cancel-subscription">Cancel Subscription</button>
      <button data-category="Gold Click" data-event-type="Go Back" data-mm-section="register code-sent sending-code-failed" class="btn pull-left" tabstop="4" data-mm-role="show-section" data-mm-target-section="no-license"><i class="icon-chevron-left"></i>&nbsp;Back</button>



	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="no-license license-required" data-mm-role="show-section" class="btn btn-primary" data-mm-target-section="sending-code" tabstop="1">I have a Gold account</button>
	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="sending-code" data-mm-role="show-section" class="btn btn-primary" data-mm-target-section="code-sent" tabstop="1">Go...</button>
	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="sending-code" data-mm-role="show-section" class="btn btn-danger" data-mm-target-section="sending-code-failed" tabstop="1">Fail...</button>

	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="code-sent" data-mm-role="show-section" class="btn btn-primary" data-mm-target-section="code-sent" tabstop="1">Log In</button>
	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="no-license license-required sending-code-failed" data-mm-role="show-section" class="btn btn-success" data-mm-target-section="register" tabstop="1">I want to sign up</button>

	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="xno-license xlicense-required" data-mm-role="show-section" class="btn btn-success" data-mm-target-section="register" tabstop="1">Sign Up</button>
      <a data-category="Gold Click" data-event-type="Proceed to payment" target="_blank" href="#" data-mm-section="registration-success" data-mm-role="license-payment-url" class="btn btn-success" tabstop="2">Proceed to payment</a>
      <button data-category="Gold Click" data-event-type="Log In"  data-mm-role="upload" data-mm-role-touch="show-section" data-mm-target-section="license-details" data-mm-section="xno-license xlicense-required invalid-license" class="btn btn-primary" tabstop="3">Log In</button>
      <button data-category="Gold Click" data-event-type="Save License" data-mm-role="save-license" data-mm-section="license-details" class="btn btn-primary" tabstop="3">Save License</button>
      <button data-category="Gold Click" data-event-type="Renew" data-mm-section="expired-license unauthorised-license" class="btn btn-success" tabstop="4" data-mm-role="form-submit" data-mm-form="#license-renewal-form">Renew</button>
      <button data-category="Gold Click" data-event-type="Purchase Subscription" data-mm-section="license-purchase-required" class="btn btn-success" tabstop="4" data-mm-role="form-submit" data-mm-form="#license-renewal-form">Purchase Subscription</button>


      <button data-category="Gold Click" data-event-type="Change License" data-mm-role="upload" data-mm-role-touch="show-section" data-mm-target-section="license-details" data-mm-section="unauthorised-license" class="btn btn-primary" tabstop="5">Change License</button>
	  <input type="file" name="file" />

      <button data-category="Gold Click" data-event-type="Register" data-mm-section="register" data-mm-role="register" class="btn btn-primary" tabstop="6">Register</button>
      <form id="license-renewal-form" class="hide" target="_blank"  method="post" action="<%= ENV['GOLD_API_URL'] %>/form/renew_license">
	<input type="hidden" data-mm-role="license-text" name="license">
      </form>

      <button data-category="Gold Click" data-event-type="Back" data-mm-section="registration-fail" data-mm-target-section="register" data-mm-role="show-section" class="btn" tabstop="7">&lt; Back</button>

      <button data-category="Gold Click" data-event-type="Cancel" data-dismiss="modal" data-mm-section="loading-subscription license-required unauthorised-license registration-fail registration-progress register sending-code code-sent sending-code-failed" class="btn" tabstop="9">Cancel</button>
      <button data-category="Gold Click" data-event-type="Close" data-dismiss="modal" data-mm-section="no-license payment-complete view-license cancelled-subscription license-server-unavailable" class="btn" tabstop="10">Close</button>
    </div>
  </div>

