  <div class="modal hide fade" id='modalGoldLicense'>
    <div class="modal-header">
		<button data-event-type="x" data-category="Gold Click" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>MindMup Gold</h3>
    </div>
    <div class="modal-body">

		<div data-mm-section="license-required">
			<p data-mm-role="alert alert-block alert-error">This operation requires a valid MindMup Gold License, and this browser profile is not
			set up for Gold access. </p>

		</div>
		<div data-mm-section="license-details">
			<p>Enter license below:</p>
			<textarea data-mm-role="license-text"></textarea>

		</div>
		<p data-mm-section="no-license">
		MindMup Gold is an optional commercial storage service that removes many limitations of our anonymous storage and third-party APIs. This browser
		profile is curently not set up for Gold access.
		</p>
		<div data-mm-section="no-license license-required">
			<p>	If you have a Gold license, click on <strong>Set License</strong> to set up the license. Otherwise, click on <strong>Sign Up</strong> to
			obtain a Gold license.</p>
			<p>For more information on MindMup Gold, <a  data-category="Gold Click" data-event-type="view gold terms" href="http://blog.mindmup.com/p/mindmup-gold.html" target="_blank">click here</a>.</p>
		</div>

		<div data-mm-section="unauthorised-license">
		  <p class="alert alert-block alert-error">This operation is not authorised under your current MindMup Gold License. The license might
		  have expired, or the file you are trying to access might have been saved using a different license.</p>

		<p>Click on <strong>Change License</strong> to change the active license in this browser or <strong>Renew</strong> to extend the current license. </p>
		<form class="form-horizontal">
		  <div class="control-group">
			<label class="control-label" for="gold-view-account-name">Account name</label>
			<div class="controls">
			  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
			</div>
		  </div>
		 </form>
		<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>


		</div>
		<div data-mm-section="invalid-license">
			<p class="alert alert-error alert-block">This license is invalid or expired</p>
			<p>Click on <strong>Set License</strong> to change the active license in this browser. </p>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="license-server-unavailable">
			<p>This license server is unavailable at the moment. Please try again later. If the problem persists, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="license-purchase-required">
			<p class="alert alert-error alert-block">A subscription has not been purchased for this license</p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label" for="gold-view-account-name">Account name</label>
				<div class="controls">
				  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
				</div>
			  </div>
			 </form>
			<p>Click on <strong>Remove License</strong> to remove this license from your browser or <strong>Purchase Subscription</strong> to proceed to our secure payment page. </p>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>

		<div data-mm-section="expired-license">
			<p class="alert alert-error alert-block">This license has expired</p>
			<p>Click on <strong>Change License</strong> to change the active license in this browser or <strong>Renew</strong> to extend the current license. </p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label" for="gold-view-account-name">Account name</label>
				<div class="controls">
				  <input type="text" data-mm-role="account-name" readonly="true" id="gold-view-account-name"/>
				</div>
			  </div>
			 </form>
			<p>If you think that this is an error, please send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a> and include your current license.</p>
		</div>
		<div data-mm-section="cancelling-subscription">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, we are cancelling your subscription</p>
		</div>
		<div data-mm-section="cancelled-subscription">
			<p>You have cancelled automatic renewal for your subscription as <strong><span data-mm-role="account-name"></span></strong> </p>
			<p>Your current subscription will expire on <strong><span data-mm-role="expiry-date"></span></strong><span data-mm-role="subscription-expiry"></span></p>
		</div>
		<div data-mm-section="view-license">
			<p>You are currently subscribed  as <strong><span data-mm-role="account-name"></span></strong> with a <strong><span data-mm-role="subscription-name"></span></strong> billing cycle.</p>
			<p>Your next  payment of <strong><span data-mm-role="renewal-price"></span></strong> will be automatically taken on <strong><span data-mm-role="expiry-date"></span></strong></p>
		</div>
		<div data-mm-section="loading-subscription">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, we are loading the subscription information for <strong><span data-mm-role="account-name"></span></strong></p>
		</div>
		<div data-mm-section="register">
      <p><span class="hidden-phone">Please enter your desired account name and e-mail address to obtain a Gold license.</span>
      The account name <span class="hidden-phone">will be shown in the URL of your maps, and</span> must be 4-20 characters, start with a letter and
      contain only lowercase (latin) letters and numbers. The license will be sent to your e-mail.</span></p>
			<form class="form-horizontal">
			  <div class="control-group">
				<label class="control-label hidden-phone" for="gold-register-account-name">Account name</label>
				<div class="controls">
				  <input type="text" id="gold-register-account-name" placeholder="Account name" name="account-name"/>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label hidden-phone" for="gold-register-email">E-mail</label>
				<div class="controls">
				  <input type="text" id="gold-register-email" placeholder="youremail@server.com" name="email"/>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" id="gold-register-terms" name="terms"/>
						I agree to the <a  data-category="Gold Click" data-event-type="agree gold terms" href="http://gold.mindmup.com/terms" target="_blank">MindMup Gold Terms of Service</a>.
					</label>
				</div>
			  </div>
			</form>
			<p class="hidden-phone">MindMup Gold currently costs $25 USD  yearly or $2.99 USD monthly per gigabyte of storage, and we accept all major credit cards. </p>
		</div>

		<div data-mm-section="registration-fail">
			<div class="alert alert-error alert-block">
				<h4>There was a problem with the registration</h4>
				<p data-mm-role="email-exists">The e-mail is already registered. Please use a different e-mail or
				contact us at
				<a target="_blank" href="mailto:contact@mindmup.com?subject=Gold%20Renewal">contact@mindmup.com</a> to renew the license for that e-mail.</p>
				<p data-mm-role="user-exists">This account is already registered. Please choose a different account name.</p>
				<p data-mm-role="invalid-args">The server is currently too busy, please try again later.</p>
				<p data-mm-role="server-error">We could not send the registration e-mail.  Please check if the e-mail is correct, and if so contact us at <a target="_blank" href="mailto:contact@mindmup.com?subject=Gold%20Registration">contact@mindmup.com</a>.</p>
				<p data-mm-role="network-error">The server is currently too busy, please try again later.</p>
			</div>
		</div>
		<div data-mm-section="registration-progress">
			<p><i class="icon-spinner icon-spin"></i>&nbsp;Please wait, processing your registration</p>
		</div>
		<div data-mm-section="registration-success">
			<h4>You have successfully registered for MindMup Gold</h4>
			<ul>
			</ul>
			<dl class="dl-horizontal">
			  <dt>E-mail:</dt>
			  <dd data-mm-role="license-email"></dd>
			  <dt>Capacity:</dt>
			  <dd data-mm-role="license-capacity"></dd>
			  <dt>Valid until:</dt>
			  <dd data-mm-role="license-expiry"></dd>
			</dl>
			<p>
			The license has been sent to you by e-mail from <strong>contact@mindmup.com</strong>, so please ensure that this sender
			is not blocked by your spam filters. Once you receive the e-mail, please click on <strong>Set License</strong> below to configure
			the current browser profile for Gold access.</p>

			<p data-mm-role="license-has-grace-period">
			You can use your license immediately, and have <strong data-mm-role="license-grace-period"></strong> to try it out and pay for it.
			</p>
			<p data-mm-role="license-has-grace-period">If, for any reason, you would not like to keep using Gold after the trial period, you do not need to take any action to cancel it - we will do it automatically. Note, however,
			that any data stored on Gold will also be removed without a backup in that case. </p>
		</div>
	</div>
    <div class="modal-footer">
	  <button data-category="Gold Click" data-event-type="Sign Up" data-mm-section="no-license license-required" data-mm-role="show-section" class="btn btn-success" data-mm-target-section="register" tabstop="1">Sign Up</button>
      <a data-category="Gold Click" data-event-type="Proceed to payment" target="_blank" href="#" data-mm-section="registration-success" data-mm-role="license-payment-url" class="btn btn-success" tabstop="2">Proceed to payment</a>
      <button data-category="Gold Click" data-event-type="Set License"  data-mm-role="upload" data-mm-role-touch="show-section" data-mm-target-section="license-details" data-mm-section="no-license license-required invalid-license registration-success" class="btn btn-primary" tabstop="3">Set License</button>
      <button data-category="Gold Click" data-event-type="Save License" data-mm-role="save-license" data-mm-section="license-details" class="btn btn-primary" tabstop="3">Save License</button>
      <button data-category="Gold Click" data-event-type="Renew" data-mm-section="expired-license unauthorised-license" class="btn btn-success" tabstop="4" data-mm-role="form-submit" data-mm-form="#license-renewal-form">Renew</button>
      <button data-category="Gold Click" data-event-type="Purchase Subscription" data-mm-section="license-purchase-required" class="btn btn-success" tabstop="4" data-mm-role="form-submit" data-mm-form="#license-renewal-form">Purchase Subscription</button>
      <button data-category="Gold Click" data-event-type="Cancel Subscription" data-mm-section="view-license" class="btn btn-success" tabstop="4" data-mm-role="cancel-subscription">Cancel Subscription</button>

      <button data-category="Gold Click" data-event-type="Change License" data-mm-role="upload" data-mm-role-touch="show-section" data-mm-target-section="license-details" data-mm-section="unauthorised-license" class="btn btn-primary" tabstop="5">Change License</button>
	  <input type="file" name="file" />

      <button data-category="Gold Click" data-event-type="Register" data-mm-section="register" data-mm-role="register" class="btn btn-primary" tabstop="6">Register</button>
      <form id="license-renewal-form" class="hide" target="_blank"  method="post" action="<%= ENV['GOLD_API_URL'] %>/form/renew_license">
	<input type="hidden" data-mm-role="license-text" name="license">
      </form>

      <button data-category="Gold Click" data-event-type="Back" data-mm-section="registration-fail" data-mm-target-section="register" data-mm-role="show-section" class="btn" tabstop="7">&lt; Back</button>
      <button data-category="Gold Click" data-event-type="Remove License" data-mm-role="remove" data-mm-section="view-license loading-subscription  cancelled-subscription license-details  expired-license invalid-license license-purchase-required" class="btn btn-danger" tabstop="8">Remove License</button>
      <button data-category="Gold Click" data-event-type="Cancel" data-dismiss="modal" data-mm-section="no-license license-required unauthorised-license registration-fail registration-progress register" class="btn" tabstop="9">Cancel</button>
      <button data-category="Gold Click" data-event-type="Close" data-dismiss="modal" data-mm-section="view-license loading-subscription cancelled-subscription registration-success invalid-license license-server-unavailable  expired-license license-details license-purchase-required" class="btn" tabstop="10">Close</button>
    </div>
  </div>

