<div id="modalPDFExport" data-mm-role="layout-export" class="modal hide fade" data-mm-format="PDF">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Export to PDF (Beta)</h3>
  </div>
  <div class="modal-body">
	   Exporting maps to PDF is a work in progress at the moment. In this beta version we only support exporting maps up to 100k and the generated PDF will be saved in a <strong>publicly accessible location</strong>.
  </div>
  <div class="modal-footer">
    <a tabstop="1" href="#" class="btn btn-primary" data-mm-role="export" data-dismiss="modal">Export</a>
    <a tabstop="2" href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
