<div id="modalConfirm" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 data-mm-role="title"></h3>
  </div>
  <div class="modal-body">
	<span data-mm-role="explanation"></span>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a tabstop="1" href="#" class="btn btn-primary" data-mm-role="confirm" data-dismiss="modal"></a>
  </div>
</div>
