<div id="modalAtlasPublish" data-mm-role="atlas-publish" class="modal hide fade" data-mm-format="publish.json">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="icon-cloud-upload">&nbsp;Publish to MindMup Atlas (Beta)</h3>
  </div>
  <div class="modal-body">
    <div class="visible initial">
			<p><a target="_blank" href="http://discover.mindmup.com/atlas">MindMup Atlas</a> is a cloud mind map library that enables authors to publish interactive, read-only maps, optimised for posting to social networks and embedding in web sites.</p>
			<ul>
				<li>Anyone can publish maps up to 100KB. Published maps will be available for at least 6 months.</li>
				<li><a target="_blank" href="http://discover.mindmup.com/mindmup-gold">MindMup Gold</a> users can publish maps up to 100MB for the duration of their subscription.</li>
			</ul>
			<p>By clicking on <b>Start</b>, you accept the <a href="/legal/atlas" target="#blank">Terms and Conditions</a> for MindMup Atlas.</p>
    </div>
		<div class="visible seo">
      <form class="form-horizontal" data-mm-role="export-parameters atlas-metadata">
        <div class="control-group">
          <label class="control-label">Title:</label>
          <div class="controls">
            <input name="title" placeholder="Descriptive title for your map" class="input-xlarge" />&nbsp;<i class="icon-question-sign" rel="tooltip" data-title="Text that will show in the browser title bar. Keep it under 40 characters." data-placement="bottom"></i>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">URL slug:</label>
          <div class="controls">
            <input name="slug" placeholder="URL slug" class="input-xlarge" />&nbsp;<i class="icon-question-sign" rel="tooltip" data-title="Descriptive text that will form part of the URL. Keep it short!"></i>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description:</label>
          <div class="controls">
            <input name="description" placeholder="Description" class="input-xlarge" />&nbsp;<i class="icon-question-sign" rel="tooltip" data-title="Page description for search engines. Keep it under 150 characters."></i>
          </div>
        </div>
      </form>
		</div>
    <div class="visible inprogress alert alert-info alert-block">
      <i class="icon-spinner icon-spin"></i>&nbsp;Please wait, publishing your map...
    </div>
    <div class="visible done">
      <div class="alert alert-success alert-block">
        <h4>Your map was published</h4> 

      </div>
			<p>
			Share the URLs below directly with your readers, or download the web page and self-host it. (Click the URLs below, then press Ctrl+C [Cmd+C on OSX] to copy them.)
			</p>
      <form class="form">
        <div class="control-group">
					<label>Web page:</label>
					<div class="input-append">
            <input data-mm-role="index-html selectable-read-only" class="span5" style="outline:none" />
            <a class="btn btn-small" href="#" data-mm-role="index-html" target="_blank"><i class="icon-share"></i></a>
					</div>
        </div>
        <div class="control-group">
					<label>Thumbnail image:</label>
					<div class="input-append">
            <input data-mm-role="thumb-png selectable-read-only" class="span5" style="outline:none" />
            <a class="btn btn-small" href="#" data-mm-role="thumb-png" target="_blank"><i class="icon-share"></i></a>
					</div>
        </div>
      </form>
    </div>
    <div class="visible error alert alert-error alert-block">
      <h4>Unable to publish your map:</h4>
      <br/>

      <span data-mm-role="error-message"></span>
			<span data-mm-role="generation-error">
        This map contains a feature not currently supported by Atlas. Please contact us at <a data-mm-role="contact-email">contact@mindmup.com</a> quoting the reference number: <b data-mm-role="file-id"></b>
      </span>
      <span data-mm-role="file-too-large">
         <p>
           The map you are publishing is too large. The maximum size of maps that can be published online is:
           <ul>
              <li>Anonymous users: <%=settings.s3_max_upload_size%> Kb </li>
              <li><a href="http://discover.mindmup.com/mindmup-gold" target="_blank">Mindmup Gold</a> users: <%=settings.gold_pdf_max_size.to_i/(1024*1024)%> Mb</li>
           </ul>
           <p>For maps larger than  <%=settings.gold_pdf_max_size.to_i/(1024*1024)%>Mb, Mindmup Gold Users should contact us at <a href="mailto:contact@mindmup.com?subject=Offline%20MindMup%20PDF%20Export">contact@mindmup.com</a> to arrange an offline export.</p>

         </p>
      </span>
      <span data-mm-role="polling-timeout">
        The server is too busy. Please try again later, or if this error persists contact us at <a data-mm-role="contact-email">contact@mindmup.com</a>
      </span>
      <span data-mm-role="network-error">
        This operation requires a network connection and we can't reach MindMup servers at the moment. Please ensure that you are online and try again. If this error persists contact us at <a data-mm-role="contact-email">contact@mindmup.com</a>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <a class="pull-left btn visible initial author seo" href="http://discover.mindmup.com/atlas" target="_blank"><i class="icon-question-sign"></i>&nbsp;More Info</a>
    <a tabstop="1" href="#" class="btn btn-primary visible initial" data-mm-modal-shown-focus data-mm-role="set-state" data-mm-state="seo">Start &gt;</a>
    <a tabstop="1" href="#" class="btn btn-primary visible seo" data-mm-role="export">Publish</a>
    <a tabstop="2" href="#" class="btn visible initial inprogress author" data-dismiss="modal">Cancel</a>
    <a tabstop="2" href="#" class="btn visible done error" data-dismiss="modal">Close</a>
  </div>
</div>
