  <div class="modal hide fade" id='modalGoldLicense'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>MindMup Gold License</h3>
    </div>
    <div class="modal-body">
	  <p>MindMup Gold License allows you to store larger files on our storage and for a longer period of time. To obtain a MindMup Gold License, 
	  send us an e-mail at <a target="_blank" href="mailto:contact@mindmup.com?subject=MindMup%20Gold">contact@mindmup.com</a>. For more information on MindMup Gold, <a href="http://blog.mindmup.com/p/mindmup-gold" target="_blank">click here</a>. 
      <form class="form-vertical">
      <div class="control-group">
        <label class="control-label">Enter your MindMup Gold License Key: </label>
        <div class="controls">
          <textarea tabstop="1"></textarea>
        </div>
      </div>
      </form>

    </div>
    <div class="modal-footer">
      <button data-mm-role="commit" class="btn btn-primary" tabstop="2">Save License</button>
      <button data-dismiss="modal" data-mm-role="remove" class="btn btn-danger" tabstop="3">Remove License</button>
      <button data-dismiss="modal" class="btn" tabstop="4">Cancel</button>
    </div>
  </div>

