<div id="modalOfflineMap" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Browser storage maps are deprecated</h3>
  </div>
  <div class="modal-body">
    <p>
    You are trying to load a map stored in the browser storage. Such maps are no
    longer supported directly (<a href="#">click here for more info</a>). </p>
    <p>To load the map, please click the <strong>Export Map</strong> button to save the map to your local disk, then use 
    <strong>File-&gt;Open/Import-&gt;From a Local Drive</strong> to load it.</p>
  </span>
  </div>
  <div class="modal-footer">
    <a tabstop="1" href="/export-browser-map" class="btn btn-primary" data-dismiss="modal">Export Map</a>
    <a tabstop="2" href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>

