<div class="modal huge hide fade" id="modalMeasuresSheet">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h3>Measurements</h3>
	</div>
	<div class="modal-body">
		<table data-mm-role="measurements-table" class="table table-striped">
			<thead><tr><th>Name</th><th data-mm-role="measurement-template"></th></tr></thead>
			<tbody><tr data-mm-role="idea-template"><th data-mm-role="idea-title"></th><td data-mm-role="value-template"></td></tr></tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" tabindex="1" data-dismiss="modal" >Close</button>
	</div>
</div>
