<div id="quickEntryWidget" class="span4 well">
  <div class="input-append">
  <input type="text" data-mm-role="content" placeholder="Type in a new node text"/>
  <button data-mm-role="add-sibling" class="btn"><i class="icon-signin icon-rotate-90" rel="tooltip" data-title="Add Sibling Node (Enter)"></i></button>
  <button data-mm-role="add-child" class="btn"><i class="icon-signin" rel="tooltip" data-title="Add Child Node (Tab)"></i></button>
  <button data-mm-role="add-photo" class="btn"><i class="icon-camera" rel="tooltip" data-title="Add a photo node"></i></button>
</div>
</div>
