<div class="mm-storyboard content-container" id="storyboard" data-mm-role="optional-content" data-mm-activation-role="storyboard-toggler" data-mm-activation-key="S">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-left" data-mm-role="storyboard-menu">
                <li >
                    <a href="#" data-mm-role="storyboard-add-scene"><i class="icon-plus-sign" data-category="Storyboard" data-event-type="Add to storyboard"></i><span class="hidden-narrow-screen">&nbsp;Add&nbsp;node</span></a>
                </li>
                <li >
                    <a href="#" data-mm-role="storyboard-add-scene-children"><i class="icon-list-ul" data-category="Storyboard" data-event-type="Add bullets to storyboard"></i><span class="hidden-narrow-screen">&nbsp;Add&nbsp;with&nbsp;children</span></a>
                </li>
                <li >
                    <a href="#" data-mm-role="storyboard-move-scene-left"><i class="icon-arrow-left" data-category="Storyboard" data-event-type="Move storyboard scene left"></i><span class="hidden-narrow-screen">&nbsp;Move&nbsp;left</span></a>
                </li>
                <li >
                    <a href="#" data-mm-role="storyboard-move-scene-right"><i class="icon-arrow-right" data-category="Storyboard" data-event-type="Move storyboard scene right"></i><span class="hidden-narrow-screen">&nbsp;Move&nbsp;right</span></a>
                </li>

                <li >
                    <a href="#" data-mm-role="storyboard-remove-scene"><i class="icon-minus-sign" data-category="Storyboard" data-event-type="Remove from storyboard"></i><span class="hidden-narrow-screen">&nbsp;Remove</span></a>
                </li>
            </ul>
            <ul class="nav pull-right">
              <li class="hidden-touch">
                <a href="#" tabindex="4" data-target="#modalPresentationExport" data-toggle="modal"  data-category="Storyboard" data-event-type="Export presentation slides">
                   <i class="icon-download-alt"></i>
                   <span class="hidden-narrow-screen">&nbsp;Export&nbsp;</span>
                 </a>
              </li>
                <li class="hidden-phone">
                <a href="#" data-mm-role="storyboard-toggler"><i class="icon-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content storyboard-container">
		<span class="storyboard-scene" style="display:none" data-mm-role="scene-template"><div class="storyboard-scene-title" data-mm-role="scene-title"></div></span>
		<div data-mm-role="no-scenes" class="pull-middle hide">
			<div>
				<div class="alert alert-info alert-block">
					<h4>Add some scenes</h4>
          <p>At the moment, your storyboard has no scenes.</p>
          <p>Add scenes using the <strong><i class="icon-plus-sign"></i>&nbsp;Add&nbsp;Node</strong> button in the upper left corner of this window, or right click a map node and add select <strong>Storyboard-&gt;Add&nbsp;Node</strong>. 
          </p>
          <p>
					For more information on how to use this feature, see our <a href="http://discover.mindmup.com/storyboards" target="_blank">Storyboards documentation page</a>.</p>
				</div>
			</div>
		</div>
		
    </div>
</div>
