<div class="mm-storyboard" id="storyboard" data-mm-role="optional-content" data-mm-activation-role="storyboard-toggler" data-mm-activation-key="S">
	<span>Tell me a story!</span>
	<div>
		<div class="well" data-mm-role="scene-template"><span data-mm-role="scene-title"></span></div>
	</div>
</div>
