<html><body>
<h1>Troubleshooting</h1>
Browser flags: <%=browser.body_class%><br/>
Browser detected: <%=browser.detected?%><br/>
is safari: <%=browser.safari?%><br/>
is ios: <%=browser.ios?%><br/>
</body></html>
