<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup: Zero-Friction Free Mind Mapping Software Online - Mind map in your browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="mind mapping, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Create mind maps online and store on Google Drive, Dropbox and GitHub, share and collaborate with friends and colleagues. Mind map in the cloud. Zero-friction, free online mind mapping. Opensource mindmapping software. The most productive online mind map canvas on the Web. Supports Freemind mindmap import/export." />
    <link rel="shortcut icon" href="//<%=settings.s3_website%>/lib/img/favicon.ico" >
	<link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <link href="//mindmup.s3.amazonaws.com/lib/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      window.onload = function() {
          var mapIdRegEx = /[Mm]:([^,;#]*)/,
              getMapIdFromHash = function () {
                var windowHash = window && window.location && window.location.hash,
                  found = windowHash && mapIdRegEx.exec(windowHash);
                return found && found[1];
              },
              setupContinue = function () {
                var continueLink = document.getElementById('continueLink'),
                    mapId = getMapIdFromHash();
                    href = continueLink.href;
                if (mapId) {
                  continueLink.href = href + mapId;
                }
              };
        setupContinue();
      };
      _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);
      _gaq.push(['_trackEvent','Error','Unsupported Browser Warning']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body>
     <div class="container">
       <div class="well">
         <h2>Hello there!</h2>
         <p>As far as we can tell, your browser is used by less than 2% of our users. As a free service
         running an opensource project, we do not have the resources to test on every browser and therefore cannnot guarantee that the
         application will work well with your software. We won't judge you for your choice of browser, but in return we hope you won't judge us on the performance of the application in it. We test the application in recent versions of <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a>, 
         <a href="http://www.getfirefox.com" target="_blank">Firefox</a> and Safari, and strongly recommend using one of those browsers if possible.
         Of course, you're more than welcome to continue in your browser. We won't show this message again.</p>
         <p style="text-align:center">
         <a id="continueLink" class="btn btn-large btn-primary" href="/browserok/<%=@mapid%>">I understand, now let me in</a></p>
         <p>If you are using a recent version of Chrome, Firefox or Safari and you see this message, please let us know at contact@mindmup.com.
         If you feel very strongly about having your browser supported, think about contributing code or testing to <a href="http://github.com/mindmup">MindMup on github</a>. 
         </p>
       </div>
  <h1>MindMup - free online mind mapping</h1>
  <p><small>
    Make a mind map online, free, and keep it in the cloud with Google Drive, Dropbox, GitHub and our free anonynous storage. MindMup is a free online mind mapping application running opensource mind mapping software. MindMup is a zero friction mind map maker, helping you focus on your work and removing all the distractions while mindmapping. It is a highly productive mindmap creator, a great free alternative to XMind and MindMeister, with powerful keyboard shortcuts and allowing advanced users to get the most out of their screen real-estate with configurable toolbars. MindMup is available everywhere: you can access your maps with a browser or a mobile device, and cloud storage ensures you have access to your data where ever you are, and the application works nicely with both desktop, tablet and mobile browsers. Freemind mind map import/export is available.
    <br/>
    Software copyright &copy; Gojko Adzic, Damjan Vujnovic, David de Florinier 2013.</small></p>

  <p>If you are looking to create a mind-map online, MindMup is the app I would recommend the most. MindMup is the sort of app everyone dreams of finding online. It’s open-source, free and integrated with all the best tools. It’s also designed by people who use the app, so it’s efficient and effective. And unlike so much free software, it looks great too." - MakeUseOf <a href="http://www.makeuseof.com/tag/try-mindmup-mind-mapping-via-google-drive/" rel="nofollow">MakeUseOf</a></p> 

  <p>MindMup is super-simple, lightweight, and generally a joy to use. - <a href="http://www.pcworld.com/article/2032818/review-mindmup-is-a-free-effortless-way-to-create-mind-maps-in-moments.html" rel="nofollow">PC World</a></p> 

  <p>What I like about Mindmup is that it is clean and simple. As they describe, it allows for frictionless capture of ideas and projects. It is not bloated with unneeded features. The UI stays out of your way and lets you get your ideas out. - <a rel="nofollow" href="http://timemanagementninja.com/links/app-of-the-week-mindmup/">Time Management Ninja</a></p> 

  <p>If you like to plan and brainstorm by creating mind maps to link together ideas, MindMup is a great browser-based program that helps you get organized with lots of features. - <a rel="nofollow" href="http://lifehacker.com/mindmup-maps-your-brain-in-the-browser-614853279">LifeHacker</a></p>

   <center><p><a href="http://blog.mindmup.com/">Blog/News</a> | 
     <a href="mailto:contact@mindmup.com">Email</a> | <a href="https://twitter.com/mindmup">Twitter</a> | <a href="http://www.facebook.com/mindmupapp">Facebook</a></p></center>
     </div>
   </body>
 </html>
