<div id="nodeColorPicker" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select a color</h3>
  </div>
  <div class="modal-body">
		<span class="color-selector" data-mm-role="color-selector-template" style="display:none;"></span>
		<img data-mm-role="transparent-color-image" style="display:none;" src="<%=settings.static_image_host%>/ios_icon_transparent_color.svg"/>
			<div class="color-palette" data-mm-role="color-palette">
		</div>
	</div>
</div>
