<div data-mm-role="ios-color-picker ios-node-background-color-picker ios-modal" class="ios-modal" style="display:none">
	<span class="ios-color-selector" data-mm-role="ios-color-selector-template" style="display:none;"></span>
	<img data-mm-role="transparent-color-image" style="display:none;" src="<%=settings.static_image_host%>/ios_icon_transparent_color.svg"/>
	<div class="ios-modal-title">Select a color</div>
	<div class="ios-modal-content" data-mm-role="ios-modal-content">
		<div class="ios-color-palette" data-mm-role="ios-color-palette">
		</div>
	</div>
</div>

<div data-mm-role="ios-color-picker ios-link-color-picker ios-modal" class="ios-modal" style="display:none" data-mm-model-method="updateLinkStyle">
	<span class="ios-color-selector" data-mm-role="ios-color-selector-template" style="display:none;"></span>
	<img data-mm-role="transparent-color-image" style="display:none;" src="<%=settings.static_image_host%>/ios_icon_transparent_color.svg"/>
	<div class="ios-modal-title">Select a color for the link</div>
	<div class="ios-modal-content" data-mm-role="ios-modal-content">
		<div class="ios-color-palette" data-mm-role="ios-color-palette">
		</div>
	</div>
</div>