#container {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin:0;
	padding:0;
}
#uploadImg {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 100;
}

.hide {
	display: none;
}
input.commandline {
	font-size: 15px;
	height: 30px;
}

#linkEditWidget button {
	height: 30px
}
