<div data-mm-role="ios-context-menu" class="iosContextMenu" style="display:none">
	<div data-mm-role="popover-toolbar context-menu-toolbar" class="iosPopupToolbar iosPopupToolbarLarge">
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer.svg" data-mm-role="popover-pointer-top" class="iosPopupToolbarPointerTop" />
		<div data-mm-role="context-menu-tool-container" class="iosPopupToolContainer iosPopupToolContainerLarge ios-default-text">
		</div>
		<img src="<%=settings.static_image_host%>/ios_toolbar_pointer_bottom.svg" data-mm-role="popover-pointer-bottom" class="iosPopupToolbarPointerBottom" />
	</div>
</div>