<div data-mm-role="mode-indicator" class="modeIndicator ios-default-text" style="display:none">
	<div data-mm-role="modeIndicator" data-mm-mode="addLinkMode" class="mode">Tap node to toggle connector</div>
</div>
